* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 10%;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  margin: 16px 16px;
  background-color: #eee;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
}

.pokemon-card img {
  width: 140px;
  height: auto;
}

.pokemon-card h1 {
  font-size: 28px;
}

.types {
  margin: 16px;
  display: flex;
  justify-content: center;
}

.type {
  border-radius: 8px;
  padding: 8px;
  margin: 0 8px;
  color: #fff;
}

.grass {
  background-color: lightgreen;
  color: #000;
}

.poison {
  background-color: purple;
}

.fire {
  background-color: red;
}

.water {
  background-color: blue;
}

.bug {
  background-color: forestgreen;
}

.flying {
  background-color: lightblue;
}

.normal {
  background-color: gray;
}

.electric {
  background-color: darkorange;
}

.ground {
  background-color: darkgoldenrod;
}

.fairy {
  background-color: pink;
}

.fighting {
  background-color: darkred;
}

.psychic {
  background-color: darkviolet;
}

.steel {
  background-color: darkgray;
}

.rock {
  background-color: burlywood;
}

.ice {
  background-color: lightcyan;
  color: #000;
}

.ghost {
  background-color: darkorchid;
}

.dragon {
  background-color: coral;
}

.search-form {
  margin: 20px 10%;
}

.search-form label {
  position: absolute;
  left: -99999px;
}

.search-form input {
  width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 16px;
  border-radius: 8px;
  outline: none;
}

main {
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.modal p {
  padding: 4px;
}

.modal img {
  width: 160px;
  height: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-types {
  margin-top: 8px;
  display: flex;
}
